<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div style="background-color:#ffffff">
    <table style="max-width:680px; background-color:#e7f6fa; border-radius:30px; padding-bottom: 20px;" cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
      <tbody>
        <tr>
          <td>
            <table style="display:block" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tbody>
                <tr>
                  <td style="height: 80px;">
                    <img style="margin-left:38px" width="180px" alt="" height="45px" src="https://res.cloudinary.com/kwaber/image/upload/v1738767472/ckbbbjjnrzizjplqjfnt.png" data-imagetype="External">
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <h1 style="color:#050E17; font-family:'Open Sans',sans-serif,sans-serif; font-size:38px; font-weight:600; line-height:52px; text-align:center; padding:6px 9px">Bonjour ...</h1> -->
            <p style="color:#043f4f; font-family:'Open Sans',sans-serif,sans-serif,sans-serif; font-size:22px; font-weight:400; line-height:29px; text-align:center">Merci de vous être inscrit sur SprintJob</p>
            <table style="background:#FFFFFF; border-radius:12px; margin:16px auto 14px; padding-bottom:20px; vertical-align:middle; width:600px; height:300px" cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
              <tbody>
                <tr>
                  <td>
                    <p style="color:#043f4f; font-family:'Open Sans',sans-serif; font-size:24px; font-weight:600; line-height:34px; padding-left:5px; text-align:center">Utilisez le code ci-dessous pour <br>continuer</p>
                    <p style="font-size:14px; font-weight:400; line-height:26px; color:#929FAA; font-family:'Open Sans',sans-serif; margin:10px 0 0; text-align:center"><span style="font-size:56px; line-height:70px; letter-spacing:20px; font-family:'Open Sans',sans-serif; font-weight:600; text-align:center; color:#049dc4; border:1px solid #CACACA; margin:3px; border-radius:10px; padding:9px">{{otp}}</span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width:100%; margin-left:auto; margin-right:auto; display:flex; align-items:center; justify-content:center" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td style="text-align:center">
            <p style="font-size:16px; font-weight:400; line-height:26px; color:#929FAA; font-family:'Open Sans',sans-serif; padding-left:50px; margin:10px 0 0; text-align:justify">Ce code est valide pendant une heure. <br>Si vous n'êtes pas à l'origine de cette opération, merci de nous le faire savoir <br>en nous envoyant un mail à l’adresse suivante : support@sprintjob.com</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width:100%; margin-left:auto; margin-right:auto; display:flex; align-items:center; justify-content:center" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td style="text-align:center;padding: 10px;"><img width="180px" alt="" height="45px" alt="" src="https://res.cloudinary.com/kwaber/image/upload/v1738767472/ckbbbjjnrzizjplqjfnt.png" data-imagetype="External"> </td>
        </tr>
      </tbody>
    </table>
    <hr style="width:573px; border:1px solid #C0C4CC; opacity:40%">
    <p style="font-size:16px; font-weight:400; line-height:24px; color:#627484; font-family:'Open Sans',sans-serif; padding:9px 20px; text-align:center">Si vous avez des questions, sentez-vous libre de nous contacter à <br>contact@sprintjob.com</p>
  </div>
</body>

</html>